@font-face {
    font-family: "Teachers";
    src: url(fonts/Teachers/Teachers-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Onest";
    src: url(fonts/Onest/Onest-VariableFont_wght.ttf);
}

header,
#left,
#right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#right {
    margin-right: 15px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#kundvagn {
    width: 30px;
    height: 30px;
    padding-left: 20px;
}

footer {
    background-color: #1A3F2D;
    margin: 0;
    padding: 40px;

    display: flex;
    gap: 50px;
}

footer p {
    color: white;
}

#footerRubrik {
    color: white;
}