@font-face {
    font-family: "Teachers";
    src: url(fonts/Teachers/Teachers-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Onest";
    src: url(fonts/Onest/Onest-VariableFont_wght.ttf);
}

header,
#left,
#right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#right {
    margin-right: 15px;
}

header #brand {
    margin-left: 20px;
    font-size: 32px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header a:hover {
    color: rgb(187, 186, 186);
    cursor: pointer;
}

#kundvagn {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    padding-left: 5px;
}

#kundvagn:hover {
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding-right: 5px;
}

footer {
    background-color: #1A3F2D;
    margin: 0;
    padding: 40px;

    display: flex;
    gap: 50px;
}

footer p {
    color: white;
}

#footerRubrik {
    color: white;
}

.nav_highlight {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown-innehåll (gömt som standard) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Stil på länkar i dropdown-menyn */
.dropdown-content a {
    color: white;
    padding: 10px;
    display: block;
}

/* Visa dropdown vid hover */
.dropdown:hover .dropdown-content {
    display: block;
}