header,
#left,
#right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

header {
    background-color: grey;
}

body {
    margin: 0;
}