body {
    margin: 0;
}

h1,
h2,
h3,
h6,
a,
p,
#brand {
    font-family: "Teachers";
}

h1,
h6,
#brand {
    color: white;
}

h6 {
    position: relative;
    top: 0.5px;
}

#top {
    background-image: url(skog.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 170vh;
    text-align: center;
}

#cont1 {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 250px;
    margin: 0 50px;
}

.flex_item1 {
    display: flex;
    flex-direction: column;
}

#right1 {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#garbo {
    font-family: "Onest";
    font-size: 160px;
    max-width: 450px;
    color: #5E9865;
    font-weight: bold;
    line-height: 1;
}

#motto {
    font-size: 24px;
    text-align: left;
    padding-left: 13px;
    max-width: 500px;
}

.white_text {
    color: white;
    font-size: 20px;
}

#right1 {
    position: relative;
    top: 75px;
}

#book_message {
    max-width: 200px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

#cont2 {
    position: relative;
    top: 340px;
}

#mid_cont2 {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
}

#waste_smarter {
    font-family: "Teachers";
    font-size: 24px;
}

#bold {
    font-size: 18px;
    font-weight: bold;
}

#middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#middle img {
    width: 50vw;
    height: 425px;
}

.infobox {
    text-align: left;
    font-family: "Teachers";
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infobox p,
.infobox li {
    max-width: 500px;
}

#infobox2 {
    background-color: #EA5D37;
    color: white;
}

.subcontainer {
    text-align: left;
}

#push_left {
    position: relative;
    left: 37px;
}

#bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 100px 0;
}

#left_corner {
    position: absolute;
}

#quiz {
    background-image: url(berg.png);
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#button2 {
    background-color: #5E9865;
    padding: 10px 100px;
    border-radius: 50px;
    font-family: "Teachers";
    font-size: 20px;
    font-weight: 500;
}

#button2:hover {
    background-color: #49754e;
}

#transportation {
    margin: 0;
    font-size: 48px;
}

#quiz_info {
    max-width: 300px;
    text-align: center;
    padding-bottom: 30px;
}

.button_orange {
    background-color: #EA5D37;
    color: white;
    padding: 25px 75px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Onest";
    display: flex;
    justify-content: center;
}

.button_orange:hover {
    background-color: #ce5331;
}