@font-face {
    font-family: "Teachers";
    src: url(../fonts/Teachers/Teachers-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Onest";
    src: url(../fonts/Onest/Onest-VariableFont_wght.ttf);
}

body{
    margin: 0;
}

#trash{
    margin: 0;
}

#trashInTheOcean{
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;

}

#all{
    color: white;
    font-size: 90px;
    font-style: normal;
    line-height: 100px;
    font-family: "Onest";
    font-family: Onest;
    font-weight: 900;
    text-transform: uppercase;
    
    position: absolute;
    top: 50px;
    left: 64px;
}

#abouttext{
    color: white;
    font-size: 90px;
    font-style: normal;
    line-height: 100px;
    font-family: "Onest";
    font-weight: 900;
    text-transform: uppercase;
    
    position: absolute;
    top: 150px;
    left: 64px;
}

#us{
    color: white;
    font-size: 90px;
    font-style: normal;
    line-height: 100px;
    font-family: "Onest";
    font-family: Onest;
    font-weight: 900;
    text-transform: uppercase;

    position: absolute;
    top: 250px;
    left: 64px; 
}

#textBox{
    position: absolute;
    top: 350px;
    left: 250px; 
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 950px;
    font-family: "Teachers";
}

#goals-section{
    background-color:  #EA5D37;
    height: 600px;
    margin: 0;
}

#goals-section h1{
    color: white;
    font-size: 68px;
    margin: 0;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#goals-section p{
    color: white;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 30px;
}

#pictures{
    display: flex;
    gap: 25px;
    margin-left: 100px;
}

.goals{
    width: 200px;
}

#center{
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}

#center img{
    width: 300px;
}

#meet{
    padding: 30px;
    margin-left: 40px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.readMore{
    background-color: #EA5D37;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 150px;
}

.collab{
    margin-top: 100px;
    margin-bottom: 100px;
    border-top: 1px solid black;
    margin-left: 40px;
    margin-right: 40px;

}

#collaborators{
    padding: 20px;
}

.collab-section{
    display: flex;
    justify-content: space-around;
}

.coll{
    width: 200px;
}

#lastPicture{
    width: 100%;
    height: 650px;

}

#box{
    width: 600px;
    height: 200px;
    background-color: white;
    padding: 50px;
    text-align: center;

    position: absolute;
    top: 3700px;
    left: 300px;
}

footer{
    background-color: #1A3F2D;
    margin: 0;
    padding: 40px;

    display: flex;
    gap: 50px;
}

footer p{
    color: white;
}

#footerRubrik{
    color: white;
}

